body {
  font-family: Noto Sans CJK TC;
  color: #37375a;
}
//首頁月份
h1 {
  font-size: 18px;
  font-weight: bold;
}

//首頁發票張數
//發票顯示的title
//發票顯示的消費金額
//掃描輸入
//手動發票
h2 {
  font-size: 14px;
  font-weight: medium;
}
//發票顯示的月份
h3 {
  font-size: 12px;
  font-weight: regular;
}

//發票顯示的店家資料
//發票的tags(驗證中、載具、電子)
h4 {
  font-size: 10px;
  font-weight: regular;
}
