// flex內容置中
@mixin flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

//提交按鈕
@mixin btn {
  background-color: #ffce33;
  width: 160px;
  height: 40px;
}

//發票總張數與消費金額
@mixin headerTotal {
  color: #51519b;
}

//公司名稱
@mixin componyTitle {
  color: #999999;
}

//驗證中
@mixin verify {
  background-color: #ff5c5c;
  color: #ffffff;
}

//電子跟載具
//header背景顏色
@mixin bg {
  background-color: #ffce33;
}

//內容背景顏色
@mixin main_bgc {
  background-color: #ffffff;
}

//載具狀態
@mixin invoice_tags {
  width: 100%;
  // min-width: 36px;
  height: 16px;
  border-radius: 8px;
}

//區塊的border
@mixin border_line {
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}
