.month {
  padding: 10px;
  flex-direction: column;
  @include flex_center;
  @include main_bgc;
  .title {
    width: 100%;
    @include flex_center;
  }
  .total {
    width: 100%;
    @include flex_center;
    margin-top: 8px;
  }
}
